/Ex1_FindString.class
/Ex1_FindString_sol.class
/Ex2_Change_ULcase.class
/Ex2_Change_ULcase_sol.class
/Ex3.class
/Ex3_sol.class
/Ex4.class
/Ex4_sol.class
/Ex5.class
/Ex5_sol.class
/Ex6.class
/Ex7.class
/Ex8.class
/Ex9.class
/Ex6_sol.class
/Ex7_sol.class
/Ex8_sol.class
