/Ex1_FindString.class
/Ex1_FindString_sol.class
/Ex2_Change_ULcase.class
/Ex2_Change_ULcase_sol.class
/Ex3.class
/Ex3_sol.class
/Ex4.class
/Ex4_sol.class
/Ex5.class
/Ex5_sol.class
/Ex6.class
/Ex7.class
/Ex8.class
/Ex9.class
/Ex6_sol.class
/Ex7_sol.class
/Ex8_sol.class
/Ex10.class
/Ex01_FindString_sol.class
/Ex01_FindString.class
/Ex02_Change_ULcase_sol.class
/Ex02_Change_ULcase.class
/Ex03_sol.class
/Ex03.class
/Ex04_sol.class
/Ex04.class
/Ex05_sol.class
/Ex05.class
/Ex06_sol.class
/Ex06.class
/Ex07_sol.class
/Ex07.class
/Ex08_sol.class
/Ex08.class
/Ex09.class
/Ex11.class
